body {
    font-family: 'Roboto', sans-serif;
    background-color: #030303;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 50px;
}

.imagee {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #f03434;
    display: block;
}
.imagee:hover {
    box-shadow: 0 0 20px #f03434;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #d38fa8;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}
.btn:hover {
    background-color: #ce87c8;
    box-shadow: 0 0 20px #f03434;
}

.info {
    padding: 10px;
    color: black;
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}
.info:hover {
    background-color: aqua;
    box-shadow: 0 0 20px #f03434;
}

.project {
    background-color: black;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    height: 300px;
    text-align: center;
    border: 1px solid #262628;
    font-weight: bold;
}
.project:hover {
    box-shadow: 0 0 20px #262628;
}
.project h2 {
    margin-top: 10px;
    text-align: left;
}
.project p {
    font-size: 14px;
    color: #AAAAAA;
    text-align: left;
}
.project form {
    display: flex;
    flex-direction: column;
    gap: 3px;
    text-align: left;
}

.project input[type="text"],
select {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
}

.btn1 {
    display: flex;
    justify-content: space-between;
}
.btn1 button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
}
.cancel {
    background-color: #050505;
    color: white;
    cursor: pointer;
    border: 1px solid #262628;
}
.cancel:hover {
    background-color: #262628;
    color: white;
}
.deploy {
    background-color: #faf6f6;
    color: rgb(14, 13, 13);
    cursor: pointer;
    border: 1px solid #262628;
}
.deploy:hover {
    background-color: #262628;
    color: white;
}
.loading {
    width: 50px;
    height: 50px;
    border: 5px solid #050505;
    border-top: 5px solid #3498db;
    border-right: 5px solid #3498db;
    border-bottom: 5px solid #3498db;
    border-radius: 50%;
}
